.dialog {
    background-color:#333333;
    z-index:20;
    border: 1px solid #444444;
    border-radius:5px;
    padding-bottom: 15px;
}

.dialog ul {
    list-style:none;
    margin:0;
    padding:0;
}

.dialog li {
    color:#999999;
    font-size:20px;
    padding:10px 0;
    text-align:center;
}

.dialog h1 {
    text-align:center;
    margin:15px 0;
    font-weight:normal;
    font-size:24px;
}

@mixin selected-resume {
    color:white;
    background-color:#B37221;
}

.dialog li:hover {
    @include selected-resume;
}
.dialog li.active {
    @include selected-resume;
}