$poster-width: 110px;
$poster-height: 150px;
$selected-poster-height: 150px;

#home-time {
    position: absolute;
    left: 30px;
    top: 15px;
    z-index: 20;
    color: #aaa;
    font-size: 24px;
    text-align: right;
    width: 120px;
    background-image: url('../images/bullet2.png');
    background-position: center left;
    background-repeat: no-repeat;
}

#home-time span {
    color: $highlight-color;
    padding-right: 4px;
}

#home-description {
    position: absolute;
    top: 0;
    left: -427px;
    height: 720px;
    width: 425px;
    background-color: black;
    opacity: 0.8;
    border-right: 2px solid $highlight-color;
    z-index: 50;
}

#home-description.hide {
    left: -427px; /* 425px + 2px border */
}

#home-description.show {
    left: 0;
}

#home-description-art {
    width: 100%;
}

#home-description-art img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
}

#home-description-title {
    position: absolute;
    top: 250px; left: 0;
    color: $highlight-color;
    font-weight: bold;
    font-size: 1.2em;
    padding: 2px 8px;
}

#home-description-info {
    position: absolute;
    top: 275px; left: 0;
    color: white;
    padding: 8px;
}

#home-description-summary {
    position: absolute;
    top: 325px; left: 0;
    color: #cccccc;
    height: 325px;
    width: 400px;
    overflow: hidden;
    padding: 8px;
}

#home-description-fileinfo {
    position: absolute;
    top: 685px; left: 0;
    text-align: center;
    opacity: 0.5;
    width: 100%;
}
#home-description-fileinfo img {
    padding: 0 8px;
    height: 20px;
}

#home-menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 720px;
    width: 420px;
    font-size: 36px;
    padding: 0 10px;
    text-align: right;
    color: #1E1D1D;
    background-image: url('../images/HomeBladeLeft.png');
    background-position: center right;
    z-index: 10;
    overflow: hidden;
}

#home-menu .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 720px;
    width: 235px;
    background-image: url('../images/CustomHomeLeftOverlay.png');
    background-position: center center;
    z-index: 0;
}

#home-menu ul {
    overflow: hidden;
}

#home-menu li {
    padding: 10px 35px;
}

#home-menu li:hover {
    color: $highlight-color;
    cursor: pointer;
}

#home-menu .current-scroller {
    color: #aaa;
}

#home-menu #current {
    color: $highlight-color;
    font-size: 36px;
}

.line {
    position: absolute;
    left: 0;
    top: 372px;
    background-color: black;
    width: 410px;
    height: 1px;
    z-index: -10;
}

#preview-menu {
    position: absolute;
    left: 400px;
    top: 127px;
    height: 488px;
    width: 880px;
    background: black;
    background-image: url('../images/newlistdoublebgunfocused1.png');
}

#preview-menu ul {
    padding: 10px 20px;
    width: 5000px; /* FIXME: no-wrap hack */
}

@mixin selectedPoster {
    height: $selected-poster-height;
    background-image: url('../images/PosterSelected.png');
    background-repeat: no-repeat;
    padding: 5px;
    margin: 10px;
}

#preview-menu li {
    position: relative;
    float: left;
    color: black;
    margin: 10px; /* 10px plus 5 px border */
    padding: 5px;
    height: $poster-height;
    width: $poster-width;
}

#preview-menu li .info {
    position: absolute;
    background-color: #333333;
    width: $poster-width;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    font-size: 18px;
    bottom: 0;
    margin-bottom: 5px;
}

#preview-menu li .overlay {
    position: absolute;
    height: $poster-height;
    width: $poster-width;
    background-image: url('../images/PosterCornerOverlay.png');
    background-repeat: no-repeat;
}

#preview-menu li img {
    position: absolute;
    width: $poster-width;
    height: $poster-height;
}

#preview-menu li:hover {
    @include selectedPoster;
}

#preview-menu li:hover .overlay {
    background-image: url('../images/PosterCornerOverlaySelected.png');
}

#preview-menu h1 {
    position: absolute;
    width: 625px;
    color: $highlight-color;
    left: 35px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

#ondeck-title {
    top: 9px;
}

#ondeck-title span {
    color: white;
}

#recentlyadded-title {
    bottom: 9px;
}

#recentlyadded-title span {
    color: white;
}

span img {
    vertical-align: middle;
    padding: 0 2px;
    width: 10px;
}

#preview-menu h2 {
    position: absolute;
    width: 200px;
    text-align: right;
    color: $highlight-color;
    left: 670px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

#preview-menu h2.ondeck {
    top: 9px;
}

#preview-menu h2.recentlyadded {
    bottom: 9px;
}

#ondeck-menu {
    position: relative;
    top: 20px;
    height: 200px;
    overflow: hidden;
}

#recentlyadded-menu {
    position: relative;
    top: 30px;
    height: 200px;
    overflow: hidden;
}

.scroll-overlay {
    position: absolute;
    z-index: 20;
    height: 200px;
    width: 75px;
    display: none;
}

#ondeck-menu:hover .ondeck-scroll-overlay {
    display: block;
}
#recentlyadded-menu:hover .recentlyadded-scroll-overlay {
    display: block;
}

#ondeck-scroll-left {
    background: url(../images/leftarrow_60x85.png) no-repeat center center;
    top:0; left: 30px;
}
#ondeck-scroll-right {
    background: url(../images/rightarrow_60x85.png) no-repeat center center;
    top: 0; right: 0;
}
#recentlyadded-scroll-left {
    background: url(../images/leftarrow_60x85.png) no-repeat center center;
    top:0; left: 30px;
}
#recentlyadded-scroll-right {
    background: url(../images/rightarrow_60x85.png) no-repeat center center;
    top: 0; right: 0;
}

#recentlyadded-menu .current-scroller #current-recentlyadded {
    @include selectedPoster;
}

#ondeck-menu .current-scroller #current-ondeck {
    @include selectedPoster;
}

#preview-menu .overlay, #preview-menu img {
    pointer-events:none;
}

#recentlyadded-menu .current-scroller #current-recentlyadded .overlay {
    background-image: url('../images/PosterCornerOverlaySelected.png');
}

#ondeck-menu .current-scroller #current-ondeck .overlay {
    background-image: url('../images/PosterCornerOverlaySelected.png');
}
