$poster-width: 110px;
$poster-height: 150px;
$selected-poster-height: 150px;

#home-time {
    position:absolute;
    left:30px;
    top:15px;
    z-index:20;
    color:#aaa;
    font-size:24px;
    text-align: right;
    width: 120px;
    background-image:url('../images/bullet2.png');
    background-position: center left;
    background-repeat: no-repeat;
}
#home-time span {
    color: $highlight-color;
    padding-right: 4px;
}

#home-menu {
    position:absolute;
    left:0;
    top:0;
    height:720px;
    width:420px;
    font-size: 36px;
    padding: 0 10px;
    text-align: right;
    color: #1E1D1D;
    background-image:url('../images/HomeBladeLeft.png');
    background-position: center right;
    z-index: 10;
    overflow: hidden;
}

#home-menu .overlay {
    position:absolute;
    left:0;
    top:0;
    height:720px;
    width:235px;
    background-image:url('../images/CustomHomeLeftOverlay.png');
    background-position: center center;
    z-index:0;
}

#home-menu ul {
    overflow: hidden;
}

#home-menu li {
    padding: 10px 35px;
}
#home-menu li:hover {
    color: $highlight-color;
    cursor:pointer;
}

#home-menu .current-scroller {
    color: #aaa;
}
#home-menu #current {
    color: $highlight-color;
    font-size:36px;
}

.line {
    position:absolute;
    left:0;
    top:372px;
    background-color:black;
    width:410px;
    height:1px;
    z-index:-10;
}

#preview-menu {
    position:absolute;
    left:400px;
    top:127px;
    height:488px;
    width:880px;
    background:black;
    background-image:url('../images/newlistdoublebgunfocused1.png');
}
#preview-menu ul {
    padding: 10px 20px;
    width: 5000px; /* FIXME: no-wrap hack */
}
@mixin selectedPoster {
    height:$selected-poster-height;
    background-image: url('../images/PosterSelected.png');
    background-repeat: no-repeat;
    padding:5px;
    margin: 10px;
}
#preview-menu li {
    float: left;
    color: black;
    margin: 15px; /* 10px plus 5 px border */
    box-shadow: 2px 2px 10px black;
    height:$poster-height;
}
#preview-menu li img {
    width: $poster-width;
    height: $poster-height;
    border-radius: 5px;
}
#preview-menu li:hover {
    @include selectedPoster;
}
#preview-menu li:hover img {
    border-radius:0;
}

#preview-menu h1 {
    position:absolute;
    width:400px;
    color: $highlight-color;
    left: 35px;
    margin:0;
    font-size:18px;
    font-weight:normal;
}
#ondeck-title {
    top:9px;
}
#ondeck-title span {
    color:white;
}
#recentlyadded-title {
    bottom:9px;
}
#recentlyadded-title span {
    color:white;
}
span img {
    vertical-align:middle;
    padding: 0 2px;
    width:10px;
}
#preview-menu h2 {
    position:absolute;
    width:200px;
    text-align:right;
    color: $highlight-color;
    left:670px;
    margin:0;
    font-size:18px;
    font-weight:normal;
}
#preview-menu h2.ondeck {
    top:9px;
}
#preview-menu h2.recentlyadded {
    bottom:9px;
}
#ondeck-menu {
    position:relative;
    top:20px;
    height: 200px;
    overflow:hidden;
}
#recentlyadded-menu {
    position:relative;
    top:30px;
    height: 200px;
    overflow:hidden;
}

#recentlyadded-menu .current-scroller #current-recentlyadded {
    @include selectedPoster;
}
#recentlyadded-menu .current-scroller #current-recentlyadded img {
    border-radius:0;
}
#ondeck-menu .current-scroller #current-ondeck {
    @include selectedPoster;
}
#ondeck-menu .current-scroller #current-ondeck  img {
    border-radius:0;
}

