$control-transition-time: 500ms;

#video-loading {
    z-index:25;
    position:absolute;
    right:100px;
    bottom:-4px;
    width:300px;
    height:75px;
    line-height: 75px;
    text-align:center;
    font-size:28px;
    color:#EEEEEE;
    background-color: #666666;
    border: 4px solid #CCCCCC;
    border-radius: 10px 10px 0 0;
}

#player-message {
    position:absolute;
    left:10px;
    top:10px;
    font-size: 36px;
    color: #777;
    z-index:110;
}

#player {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:black;
    z-index:25;
}

#video {
    width:100%;
    height:100%;
}

#controls {
    position:absolute;
    left:0;
    bottom:-195px;
    width:100%;
    height: 195px;
    font-size: 18px;
}

.controls-transition {
    transition: bottom $control-transition-time ease;
    -moz-transition: bottom $control-transition-time ease; /* Firefox 4 */
    -webkit-transition: bottom $control-transition-time ease; /* Safari and Chrome */
    -o-transition: bottom $control-transition-time ease; /* Opera */
}

#controls-bg {
    position:relative;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-image:url('../images/OSDBackground.png');
}

#controls-underlay {
    background-color: #030303;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height: 170px;
    background-color: #111111;
}

#controls-title {
    position:absolute;
    left:40px;
    bottom: 75px;
    color:white;
}

#controls-title h1 {
    color:$highlight-color;
    font-size: 24px;
    font-weight: normal;
    margin:0;
}

#controls-title h2 {
    font-size: 20px;
    font-weight: normal;
    margin:0;
}

#controls-description {
    position:absolute;
    left:440px;
    bottom:65px;
    width:800px;
    height: 86px;
    overflow:hidden;
}

@mixin progressbar {
    position:absolute;
    bottom:40px;
    left:40px;
    height: 12px;
    border-radius:6px;
}

#progressbar-back {
    @include progressbar;
    background: #666666;
    width: 1200px;
    background-size: 100%;
    z-index:20;
}
#progressbar-front {
    @include progressbar;
    background: $highlight-color;
    width: 0;
    z-index:25;
}

#player-status-message {
    position:absolute;
    bottom: 10px;
    left: 200px;
    width: 880px;
    text-align: center;
}

#duration {
    position:absolute;
    bottom: 10px;
    left: 40px;
}

#total-duration {
    position:absolute;
    bottom: 10px;
    right: 40px;
}