@mixin scroller-base {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    padding:0;
}
@mixin vertical-scroller {
    @include scroller-base;
}

@mixin horizontal-scroller {
    @include scroller-base;
}

#scroller {
    @include vertical-scroller;
}
#scroller-ondeck {
    @include horizontal-scroller;
}
#scroller-recentlyadded {
    @include horizontal-scroller;
}