$highlight-color: #D1801C;
$bg-transition-time: 100ms;

* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    width:1280px;
    height:720px;
    overflow:hidden;
    margin:0;
    color:white;
    background: black;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    transition: opacity $bg-transition-time ease-in-out;
    -webkit-transition: opacity $bg-transition-time ease-in-out;
    -moz-transition: opacity $bg-transition-time ease-in-out;
    -o-transition: opacity $bg-transition-time ease-in-out;
}

li {
    list-style: none;
}

@import 'settings';
@import 'home';
@import 'scroller';
@import 'player';
@import 'resume';